.form-control {
    display: inline-block;
    width: 250px;
    margin-top: 50px;
  }
  h1 {
    color: lightgray;
  }
  
  body {
    background-color: rgb(181, 183, 199);
  }
  
  .jumbotron {
    background-image: url("ufo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    height: 125px;;
    padding:25px;
    text-align: center;
  }